%html
  %head
    %script{src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
    %script{src: 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js'}
    %script{src: 'http://d3js.org/d3.v2.js'}
    %script{src: 'rickshaw.js'}
    %script{src: 'graph.js'}
    %link{rel:"stylesheet", href:"rickshaw.css"}

  %body
    %content
      =yield